html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container-fluid {
  padding: 0;
}

.container-fluid > header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 75px;
  position: fixed;
  z-index: 99;
  background: rgba(0, 0, 0, 0.75);
}

.container-fluid > header > div {
  padding: 10px;
  float: left;
}

.container-fluid > header div > div:nth-child(1) {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: rgb(255, 255, 255);
  margin: 5px;
  font-size: 2em;
  background: rgb(162,19,12);
  width: 45px;
  height: 45px;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  float: left;
}

.container-fluid > header div > div:nth-child(2) {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: rgb(255, 255, 255);
  margin: 5px;
  font-size: 2em;
  background: rgb(9,119,106);
  width: 45px;
  height: 45px;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  float: left;
}

.container-fluid > header div > div:nth-child(3) {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: rgb(255, 255, 255);
  margin: 5px;
  font-size: 2em;
  background: rgb(2,117,216);
  width: 45px;
  height: 45px;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  float: left;
}

.container-fluid > header div > div:nth-child(4) {
  margin-left: 5px;
  color: rgb(255, 255, 255);
  float: left;
}

.container-fluid > header div > div:nth-child(4) span:nth-of-type(1) {
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25em;
}

.container-fluid > header nav {
  float: right;
  width: 100%;
  margin-right: 20px;
}

input[type=checkbox]{
  position: absolute;
  top: -9999px;
  left: -9999px
}

label {
  display: none;
  cursor: pointer;
  user-select: none;
}

nav[role="custom-dropdown"] {
  position: relative;
  margin-top: -195px;
  float: right;
}

nav[role="custom-dropdown"] ul {
  display: none;
  height: 100%;
  width: 100%;
}

nav[role="custom-dropdown"] label {
  position: relative;
  display: block;
  width: 100%;
  min-height: 2.25em;
  padding: .45em;
  font-size: 1.1em;
  margin: 0;
  top: 20px;
}

nav[role="custom-dropdown"] label:after {
  position: absolute;
  right: .25em;
  top: 118px;
  content: "\2261";
  font-size: 1.8em;
  clear: right;
}

nav[role="custom-dropdown"] input[type=checkbox]:checked ~ label:after {
  color: rgb(255, 255, 255);
  clear: both;
}

nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul {
  display: block;
  margin-top: 155px;
  width: 100%;
}

nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul li {
  width:100%;
  opacity:.8;
  text-align: left;
}

nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul li:after {
  position:absolute;
  right:.25em;
  font: bold 1.4em sans-serif;
}

a, label {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font: 0.8em "Lato", sans-serif;
  transition: color .3s ease-in-out;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  background: rgba(255, 255, 255, 0.25);
  text-decoration: none;
  color: rgb(255, 255, 255);
}

ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  background: rgba(0, 0, 0, 0.75);
}

ul > li {
  float: left;
  text-align: center;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.75);
}

ul > li a {
  padding: .8em 1.6em;
  text-transform: uppercase;
  display: block;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(245, 245, 245);
}

section header {
  margin-bottom: 30px;
  width: 100%;
  height: 300px;
  text-align: center;
}

section header h1 {
  margin-top: 125px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(255, 255, 255);
}

#home {
  height: 400px;
  padding-top: 100px;
  background-image: url(../images/backgrounds/background-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#home div {
  background: rgba(0, 0, 0, 0.75);
  z-index: 98;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2.0em;
  text-align: center;
}

#home > div {
  font-size: 250%;
  padding-left: 20px ;
  padding-right: 20px;
}

#work {
  display: none;
}

section article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section article h4 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

section article div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

section article div div {
  background: rgb(34, 49, 63);
  padding: 5px 10px;
  margin: 10px;
  text-align: center;
  font-size: 80%;
  color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 4px 6px -1px black;
     -moz-box-shadow: 0 4px 6px -1px black;
          box-shadow: 0 4px 6px -1px black;
}

#about header{
  background-image: url(../images/backgrounds/me.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 15%;
  overflow: hidden;
}

#about header h1 {
  margin-top: 0;
  padding-top: 125px;
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0.75);
  z-index: 98;
}

#about p {
  font-family: "Lato", sans-serif;
  font-size: 110%;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}

#skills header {
  background-image: url(../images/backgrounds/background-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#skills header h1 {
  margin-top: 0;
  padding-top: 125px;
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0.75);
  z-index: 98;
}

#skills div article {
  margin-left: 20px;
  margin-right: 20px;
}

#folio header {
  background-image: url(../images/backgrounds/background-6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#folio header h1 {
  margin-top: 0;
  padding-top: 125px;
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0.75);
  z-index: 98;
}

/* ********************************************************************
*                        PORTFOLIO SLIDER                             *
********************************************************************* */

#folio .slide-viewer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 350px;
}

#folio .slide-group {
  width: 100%;
  height: 100%;
  position: relative;
}

#folio .slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

#folio .slide:first-child {
    display: block;
}

#folio .row {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;0
}

#folio .col-md-6 {
  width: 288px;
  height: 216px;
  margin: 10px;
}

#folio .slide-buttons {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 600px;
    text-align: center;
    z-index: 99;
}

#folio .slide-buttons button {
    border: none;
    background: none;
}

#folio .slide-btn {
    font-size: 3em;
}

#folio .active {
    color: #FF0000;
    border: none;
}

#contact header {
  background-image: url(../images/backgrounds/contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#contact header h1 {
  margin-top: 0;
  padding-top: 125px;
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0.75);
  z-index: 98;
}

#contact > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

#contact p {
  font-size: 175%;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: rgb(38, 166, 91);
}

#contact p:nth-of-type(2) {
  margin-top: 50px;
}

#contact div div {
  margin: 20px;
}

#contact div div a {
  text-align: center;
  padding: 20px;
  display: block;
  background: rgb(2,117,216);
  color: rgb(255, 255, 255);
}

#contact div div a:hover {
  background: rgb(255, 255, 255);
  color: rgb(2,117,216);
  border: 1px solid rgb(2,117,216);
}

#contact form {
  font-size: 80%;
}

#contact form .row {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

input[placeholder] {
  color: rgb(205, 205, 205);
}

#contact .form-control {
  border-radius: 0;
  font-size: 95%;
  font-family: "Montserrat", sans-serif;
}

#contact .form-group label {
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

#contact .form-group button {
  padding: 10px;
  background: rgb(2,117,216);
  border: none;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 110%;
}

#contact .form-control input {
  width: 100%;
  border: 1px solid rgb(205, 205, 205);
}

#contact .form-control textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(205, 205, 205);
}

#contact form div:nth-of-type(4) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#contact form div:nth-of-type(4) div:nth-of-type(1) {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  justify-content: flex-start;
}

#contact form div:nth-of-type(4) div:nth-of-type(2) {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  justify-content: flex-end;
}

#contact form div:nth-of-type(4) input {
  width: 98%;
}

.hidden {
  display: none;
}

.bookTitle {
  font-weight: bold;
  font-style: italic;
}

/* ******************** MEDIA QUERIES ********************* */

@media screen and (max-width: 934px) {
  #home {
    height: 100%;
    padding-bottom: 30px;
    font-size: 70%;
  }

  #about > header, #skills > header, #folio > header, #contact > header {
    margin-top: 0;
    height: 175px;
  }

  #skills header h1, #contact header h1, #folio header h1, #about header h1 {
      margin: 0;
      padding-top: 100px;
      height: 175px;
      font-size: 175%;
  }

  #about p {
    font-size: 90%;
  }

  #about p:nth-of-type(2), #about p:nth-of-type(4) {
    display: none;
  }

  #folio {
    height: 430px;
  }

  #folio .slide-viewer {
    text-align: center;
  }

  #folio .col-md-6 {
    margin-top: -20px;
    margin-bottom: -20px;
  }

  #folio .slide-buttons {
    margin-top: 350px;
  }

  #folio img {
    width:80%;
  }

  #contact p {
    font-size: 120%;
  }
}

@media screen and (max-width: 505px) {
  header div div:nth-of-type(1), header div div:nth-of-type(2), header div div:nth-of-type(3) {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  header div div:nth-of-type(4) span:last-child {
    display: none;
  }

  header div div:nth-of-type(4) {
    margin-top: 13px;
    margin-bottom: -13px;
  }

  nav[role="custom-dropdown"] label:after {
    position: absolute;
    right: .25em;
    top: 142px;
    content: "\2261";
    font-size: 1.8em;
  }

  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ label:after {
    color: rgb(255, 255, 255);
  }

  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul {
    display: block;
    margin-top: 170px;
    clear: both;
  }

  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul li {
    width: 100%;
  }

  #about p:nth-child(3), #about p:nth-child(5) {
    display: none;
  }

  #contact p, #skills > div:nth-child(2), #folio > div:nth-child(2) {
    margin-top: 10px;
  }

  #folio {
    height: 600px;
  }

  #folio .slide-buttons {
    margin-top: 530px;
  }
}
